<html>
	<head>
		<title>TomoBay - Admin Logs</title>
		<link rel="shortcut icon" href="images/logo.png" />
		<meta charset="utf-8">
 		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/stylesheet.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="js/adminLogs.js"></script>
	</head>

	<body>		
		<div class="navibar"></div>
		
		<div class="container-fluid">
			<div class="panel panel-default panel-primary">
				<div class="panel-heading">
						<h2 class="title">Log File Viewer</h2>
						<button class=" btn btn-success" onclick="log.startPoll()">Start</button>
						<button class="btn btn-danger" onclick="log.stopPoll()">Stop</button>
						<span class="status badge"></span>
				</div>
				
				<div class="panel-body logFileWindow">
				<div class="logFile"></div>
				</div>
				
				<div class="panel-footer">
				asfsa
				</div>
			</div>
		</div>
		
	</body>
</html>