<html>
	<head>
		<title>TomoBay - Sales Orders</title>
		<link rel="shortcut icon" href="images/logo.png" />
		<meta charset="utf-8">
 		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/stylesheet.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="js/salesOrders.js"></script>
	</head>

	<body>		
		<div class="navibar"></div>
	
		<div class="container-fluid">
			<div class="sortable"></div>
		</div>
		
	</body>
</html>