	<!------------------------- NAVBAR --------------------------------->
		<nav class='navbar navbar-default navbar-static-top navbar-inverse info'>
			<div class='container-fluid'>
				<div class='navbar-header'>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavBar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<img class='navbar-left logo' alt='Brand' src='/images/logo.png'></img>
					<div class ="collapse navbar-collapse" id="myNavBar">
						<ul class="nav navbar-nav">
							<li><a href="/">Dashboard</a></li>
							<li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">Sales<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/sales_orders.html">Orders</a></li>
									<li><a href="/sales_history.html">History</a></li>
									<li><a href="">Statistics</a></li>
								</ul>
							</li>
							<li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">Warehouse<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/w-house_picking.html">Picking</a></li>
									<li><a href="/w-house_packing.html">Packing</a></li>
									<li><a href="/w-house_shipping.html">Shipping</a></li>
								</ul>
							</li>
							<li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="">Settings</a></li>
									<li><a href="">Users</a></li>
									<li><a href="">Services</a></li>
									<li><a href="/adminLogs.html">Logs</a></li>
								</ul>
							</li>
							<li><a href="">CRM</a></li>
						</ul>	
					</div>
				</div>
			</div>
		</nav>
	<!---------------------- ENDOF NAVBAR ------------------------------->