/**************************************************************************************GLOBAL*/
html
{
	height:100%;
}
body
{
	background-color:lightblue;
	height:100%;
}
.panel
{
	opacity:0.8;
}

.panel-footer
{
	text-align:center;
}

.panel-footer > a
{
	margin: 1px;
}

.btn
{
	color:#000000;
}

input
{
	color:#337AB7;
}
/********************************************************************************ENDOF GLOBAL*/



/**************************************************************************************NAVBAR*/
#myNavbar
{
	float:left;
}
@media (max-width: 768px)
{
  	#myNavbar
  	{
  		position:relative;
  		margin-top:51px;
    	text-align: left;
    	left:-100px;
  	}
}
.logo
{
	height:50px;
	float:left;
}

nav
{
	opacity:0.9;
}
/************************************************************************NAVBAR BUTTONS*/
.navbar-default .navbar-nav > li > a:hover
{
	color:#3E87D1;
	font-size:20px;
}

.navbar-default .navbar-nav > li > a:focus
{
	color:lightgrey;
	font-size:15px;
}

.navbar-default .navbar-nav > li > a
{
	color:lightgrey;
	font-size:15px;
	-webkit-transition: font-size 0.13s, color 0.5;
	transition:font-size 0.13s, color 0.6s;
}

li.dropdown.open > a.dropdown-toggle:hover
{color:#3E87D1;}

li.dropdown.open > a.dropdown-toggle:focus
{color:#3E87D1;font-size:20px;}

ul.dropdown-menu
{background-color:#333333;}

ul.dropdown-menu > li > a
{
	background-color:#333333;
	color:lightgrey;
	font-size:14px;
	-webkit-transition: font-size 0.2s, color 0.5;
	transition:font-size 0.2s, color 0.6s;
}

ul.dropdown-menu > li > a:hover
{
	background-color:#333333;
	color:#3E87D1;
	font-size:16px;
}
/******************************************************************ENDOF NAVBAR BUTTONS*/
/********************************************************************************ENDOF NAVBAR*/

/***************************************************************************************TABLE*/
.table-responsive
{
	height:63%;
	overflow-y:scroll;
}

.spinner
{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.spinner-text
{
	margin: 0;
    position: absolute;
    top: 53%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
/*********************************************************************************ENDOF TABLE*/
