#https://sandbox.server.address
#anUnbelievablyLongStringOfcharactersAndNumbersThatMakesUpTheUserToken

#https://production.server.address
#anotherUnbelieveblyLongStringOfCharactersAndNumbersMakingUpTheUserToken